.container{
    width: 100%;
}

@media screen and (min-width: 1200px) {
   
    
    .container {
      width: 50%;
    }

  }
  .continue-btn{
    background-color: #e7f2f9 !important; 
    border: none; 
    font-size: 20px;
    color: white;
    transition: all .5s;
}
.previous-btn{
    font-size: 20px;
    border-radius: 4px; 
    transition: all .5s;
    border: 1px solid #e7e6e6;
}
.previous-btn:hover{
    border-color: rgb(83, 191, 254);
}
  .condition-title{
   background-color: #fff3ce; 
   width: fit-content;
   
  }
  .conditon-para{
    background-color: rgba(190, 184, 184, 0.24);
    color: #554c57;
    font-size: 21px;
    padding:130px 70px;
  }
  .start-over-btn{
    padding: 20px   89px;
    font-size: 20px;
    border-radius: 4px; 
    transition: all .5s;
    border: 1px solid #e7e6e6;
  }

  .start-over-btn:hover{
     background-color:  rgba(83, 191, 254, 0.544);
     color: white;
  }

  .edit-data{
    color:var(--primary);
    text-decoration:none;
    margin :0 10px;
  }